<div xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/frida.css}">
    </head>
    <nav th:fragment="menu">
        <ul >
            <li><a th:href="@{/}">Welkom</a></li>
            <li><a th:href="@{/sauzen}">Sauzen</a></li>

        </ul>
    </nav>

    <ul th:fragment="sausLijst(sauzen)" th:each="saus : ${sauzen}" th:object="${saus}">
        <li><a th:text="*{naam}" th:href="@{/sauzen/{id}(id=*{nummer})}"></a></li>
        <ul th:each="ingredient : *{ingredienten}">
            <li th:text="${ingredient}"></li>
        </ul>
    </ul>
</div>