<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Frietgame')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Frietgame</h1>

<form th:action="@{/frieten/zoeken/opendeur}" method="post">
    <button th:each="deur:${zoekDeFriet.deuren}" name="index" th:object="${deur}" th:value="*{index}">
        <img th:if="*{open} and *{metFriet}" th:src="@{/images/frietgame/gevonden.png}" alt="gevonden">
        <img th:if="*{open} and not *{metFriet}" th:src="@{/images/frietgame/deuropen.png}" alt="deur open">
        <img th:if="not *{open}" th:src="@{/images/frietgame/deurtoe.png}" alt="deur gesloten">
    </button>
</form>
<form th:action="@{/frieten/zoeken/nieuwspel}" method="post">
    <button>Nieuw spel</button>
</form>
</body>
</html>